---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Greeting from '../components/Greeting';
import Project from '../components/Project.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
const pageTitle = "Work";
---

<Layout pageTitle={pageTitle}>
	<Container class="mt-12 lg:mt-40">
		<Greeting client:load messages={["Hey", "Howdy", "Hey there", "Yo", "Hello there", "Why hello"]} class="mt-auto" />
	</Container>
	<Container class="py-0">
		<div class="projects-grid">
			{
				projects.map((project, index) => (
					<Project 
						url={`/projects/${project.slug.split('/').pop()}/`} 
						title={project.data.title} 
						client={project.data.client} 
						thumbnail={project.data.thumbnail} 
						index={index}
					/>
				))
			}
		</div>
	</Container>
</Layout>