---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Project from '../components/Project.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects', ({ data }) => {
	return data.draft !== true;
});

const sortedProjects = projects.sort((a, b) => (a.data.order ?? 100) - (b.data.order ?? 100));

const pageTitle = "Work";
---

<Layout pageTitle={pageTitle}>
	<Container class="mt-12 lg:mt-40">
		<h1 class="mt-auto">
			Tommy Parker
			<br>
			<em>Illustration</em>
		</h1>
	</Container>
	
	<Container class="py-0" animate={false}>
		<div class="projects-grid">
			{
				sortedProjects.map((project, index) => (
					<Project 
						url={`/projects/${project.slug.split('/').pop()}/`} 
						title={project.data.title} 
						client={project.data.client} 
						thumbnail={project.data.thumbnail} 
						index={index}
					/>
				))
			}
		</div>
	</Container>
</Layout>