---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Project from '../components/Project.astro';
import { getCollection } from 'astro:content';
import Logo from '../components/Logo.astro';

const projects = await getCollection('projects', ({ data }) => {
	return data.draft !== true;
});

const sortedProjects = projects.sort((a, b) => (a.data.order ?? 100) - (b.data.order ?? 100));

const pageTitle = "Work";
---

<Layout pageTitle={pageTitle}>
	<Container class="py-0 bg-paper dark:bg-ink-950 relative" animate={false}>
		<div class="projects-grid pt-4">
			{
				sortedProjects.map((project, index) => (
					<Project 
						url={`/projects/${project.slug.split('/').pop()}/`} 
						title={project.data.title} 
						client={project.data.client} 
						thumbnail={project.data.thumbnail} 
						index={index}
					/>
				))
			}
		</div>
	</Container>
</Layout>