---
const { title, client, url, thumbnail, slug, index } = Astro.props;
import { Image } from 'astro:assets';

// Fallback values
const size = thumbnail?.size || 'small';
const focus = thumbnail?.focus || 'center';

const loadingType = index < 8 ? "eager" : "lazy";
---

<a href={url} class={`thumbnail ${size} ${focus} group block`}>
  <Image 
  src={thumbnail.url} 
  inferSize 
  alt={thumbnail.alt} 
  sizes="100vw" 
  loading={loadingType}
  />
    <div class="project-meta">
      <p class="project-title">{title}</p>
      <p class="project-client">{client}</p>
    </div>
</a>