---
import IndexSingle from "./IndexSingle.astro";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects', ({ data }) => {
	return data.draft !== true;
});

const sortedProjects = projects.sort((a, b) => (a.data.order ?? 100) - (b.data.order ?? 100));
---

<div class="project-index">
  <h3 class="mb-2">Project index</h3>
  <div class="project-index-list">
    {
        sortedProjects.map((project, index) => (
            <IndexSingle 
                url={`/projects/${project.slug.split('/').pop()}/`} 
                title={project.data.title} 
                client={project.data.client} 
                year={project.data.year}
                thumbnail={project.data.thumbnail}
                index={index}
            />
        ))
    }
  </div>
</div>