---
import Layout from './Layout.astro';
import Container from '../layouts/Container.astro';

const { frontmatter } = Astro.props;

---
<Layout>
    <Container class="grid grid-cols-4 gap-4">
        <div class="col-span-full col-start-1  md:col-span-2">
            <div class="col-span-2 mb-8">
                <h4>{frontmatter.title}</h4>
                <p class="note">{frontmatter.description}</p>
            </div>
            <div class="mytable">

                {frontmatter.artDirection && (
                    <>
                        <p class="small-header">Direction</p>
                        <p class="note">
                            {Array.isArray(frontmatter.artDirection) 
                                ? frontmatter.artDirection.map((name: string) => (
                                    <span class="block">{name}</span>
                                  ))
                                : frontmatter.artDirection.split('\n').map((name: string) => (
                                    <span class="block">{name.trim()}</span>
                                  ))
                            }
                        </p>
                    </>
                )}

                {frontmatter.client && (
                    <>
                        <p class="small-header">
                            {(Array.isArray(frontmatter.client) && frontmatter.client.length > 1) || 
                             (!Array.isArray(frontmatter.client) && frontmatter.client.includes('\n'))
                                ? 'Clients' 
                                : 'Client'}
                        </p>
                        <p class="note">
                            {Array.isArray(frontmatter.client)
                                ? frontmatter.client.map((name: string) => (
                                    <span class="block">{name}</span>
                                  ))
                                : frontmatter.client.split('\n').map((name: string) => (
                                    <span class="block">{name.trim()}</span>
                                  ))
                            }
                        </p>
                    </>
                )}
            </div>
        </div>
    </Container>
    <Container class="project-images">
        <slot/>
    </Container>
</Layout>